body {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 360px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

h1 {
    color: #ff4d6d;
    margin-bottom: 5px;
}

h2 {
    color: #ff758f;
    margin-top: 0;
}

p {
    font-size: 16px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 22px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:first-child {
    background: #ff4d6d;
    color: white;
}

#no {
    background: #ccc;
}


#contador-amor {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #ff4d6d;
  text-align: center;
  font-weight: bold;
}


.corazon {
  position: fixed;
  bottom: 0;
  font-size: 20px;
  animation: flotar 5s linear forwards;
  opacity: 0.8;
}

@keyframes flotar {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
